.flex-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
}

.settings-container {
    padding: 30px;
}

.range-container {
    height: 30px;
}

.svg-container {
    display: flex;
    position: relative;
    margin: 10px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    width: 400px;
    height: 400px;
}

.svg-container.selected {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.svg-container-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: .3s ease;
    opacity: 0;
    display:flex;
}

.svg-container-overlay.selected {
    opacity: 1;
}

.svg-container img {
    width: 40px;
    height: 40px;
}

.svg-container svg {
    width: 100%;
    height: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
