.flex-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.flex-container p{
    width: 800px;
    background-color: #ffffd2;
    padding: 10px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

button {
    width: 150px;
    height: 50px;
    margin: 0.5em 0em;
}

.sparklines-container {
    display: flex;
    justify-content: center;
}

.sparklines-container svg {
    width: 100px;
    margin: 0em 10px;
}

.settings-container {
    padding: 30px;
}

.range-container {
    height: 30px;
}

.main-section {
    padding: 6px;
    margin: -6px -6px;
}

.svg-container {
    display: flex;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 6px 6px;
}

.svg-container.selected {
    background-color: #eeeeee;
    box-shadow: none;
}

.svg-container-overlay {
    position: absolute;
    top: 0%;
    right: 0%;
    transition: .3s ease;
    opacity: 0;
    display:flex;
    width: 10%;
    height: 10%;
}

.svg-container-overlay.selected {
    opacity: 1;
}

.svg-container img {
    width: 100%;
    height: 100%;
}

.svg-container svg {
    width: 100%;
    height: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.lds-dual-ring {
    display: inline-block;
    width: 144px;
    height: 144px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 128px;
    height: 128px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid lightblue;
    border-color: lightblue transparent lightblue transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
